ion-toolbar{
    --background: rgb(6, 6, 114);
    color: white;
  }
  .sc-ion-buttons-md-h{
    background: rgb(6, 6, 114);
    
  }
  .input-wrapper{
    display: block ;
  }´
.sep1{
    background: #797171b0;
    width: 90%;
  }