.img-login{
    margin-top: 3em;
    padding: 0 2em;
    margin-bottom: 2em;
}
.btn1{
    --background: rgb(2, 2, 85);
    margin-left: 35.5%;
    margin-right: 36.5%;
    width: 25%;
    height: 5%;
    font-size: 20px;
}
.cajas{
    //padding: 1.5em;
    font-size: x-large;
}