ion-toolbar{
    --background: rgb(6, 6, 114);
    color: white;
    font-family: system-ui;
  }
  .Meng{
    text-align: center;
    margin: 1em 0 0 0;
    color: red;
  }
  .Meng1{
    text-align: center;
    margin-bottom: -2px;
  }
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  }

  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal ion-toolbar {
    --background: rgb(14 32 144);
    --color: white;
  }
  .item1{
    margin-top: 6em;
    font-size: 8pt;
  }
  .p1{
    color: rgba(121, 116, 116, 0.897);
  }
  .Erro{
    margin-top: 50%;
    font-size: x-large;
    font-weight: 700;
    color: red;
    --inner-border-width: 0 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;

  }

  .listaTop{
    margin-top: -0.5em;
    //margin-top: -1.2em;
  }
/* En tu archivo global.scss o local para el componente en cuestión */
.mi-popover-class {
  /* Personaliza la posición del popover */
  --width: 200px; /* Ancho del popover */
  --height: auto; /* Altura del popover (auto para ajustar según contenido) */
  --max-height: 400px; /* Altura máxima del popover */
  --position: absolute; /* Posición absoluta para controlar la ubicación */
  top: 50%; /* Coloca el popover en el centro verticalmente */
  left: 50%; /* Coloca el popover en el centro horizontalmente */
  transform: translate(-50%, -50%); /* Centra el popover */
  /* Puedes ajustar más propiedades según tus necesidades */
}
