
  <!--Este es el Formulario para capturae la informacion del cliente,
      captura los siguentes datos, nombre, numero de casa, nombre de calle, 
      numero interior y colonia. tambien se captura el dato de la fecha. SEAT
  -->
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Regresar"></ion-back-button>
      </ion-buttons>
    <ion-title>
      Información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2  class="Meng1" >Datos Personales</h2>
  <div class="body1">
    <ion-item>
      <ion-label position="floating">Nombre Cliente: </ion-label>
      <ion-input [(ngModel)]="useService.name"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Calle: </ion-label>
      <ion-input [(ngModel)]="useService.calle"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Numero Domicilio Externo:</ion-label>
      <ion-input [(ngModel)]="useService.nuDom" type="number"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Numero Domicilio Interior:</ion-label>
      <ion-input [(ngModel)]="useService.IuDom"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Colonia:</ion-label>
      <ion-input [(ngModel)]="useService.colonia"></ion-input>
    </ion-item>
  </div>
  <br>
  <br>
  <ion-button class="btnPrin" (click)="useService.guardarCliente()">
     Agregar &nbsp;&nbsp;<ion-icon name="person-add-outline"></ion-icon> 
  </ion-button>
</ion-content>