ion-toolbar{
    --background: rgb(6, 6, 114);
    color: white;
    font-family: system-ui;
  }
  .btnPrin{
    width: 40%;
    --background: rgb(62, 132, 236);
    margin-left: 30%;
  }

  .body1{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .Meng1{
    text-align: center;
    margin-bottom: -2px;
    color: rgba(14, 143, 10, 0.63); 
    font-family: system-ui;
  }
  
