<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Costos de quimicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="atras" >
    <br>
    <ion-item>
      <!--<h3 class="tiTog" *ngIf="toggle == true">Post Costrucción</h3>
    <h3 class="tiTog" *ngIf="toggle == false">Pre Costrucción</h3>-->
      <h3 class="tiTog">Pre Costrucción</h3>
      <!--<ion-toggle  class="togl" [(ngModel)]="toggle"></ion-toggle>-->
    </ion-item>
    <div class="cuerpo">
      <div>
         <p class="p2">Costo: $<ion-input [(ngModel)]="useService.costo"type="text" class="input1" id="input1"></ion-input>
        </p>
        <br>
        <p class="p2">Mescla Lt:<ion-input [(ngModel)]="useService.mescla" type="number" class="input1"></ion-input>
        </p>
        <br>
        <p class="p2">Rendimiento x Lt:<ion-input [(ngModel)]="useService.rendimiento" type="number" class="input1"></ion-input>
        </p>
        <br>
        <!--<p class="p2">Firmes/Cimientos:<ion-input [(ngModel)]="useService.tipCliente"
            [(ngModel)]="this.useService.nuevoContacto['tipCliente']" type="number" class="input1"></ion-input>
        </p>
        <br>
        <p class="p2">Supervisión:<ion-input [(ngModel)]="useService.tipCliente"
            [(ngModel)]="this.useService.nuevoContacto['tipCliente']" type="number" class="input1"></ion-input>
        </p>
        <br>
        <p class="p2">Mano de obra:<ion-input [(ngModel)]="useService.tipCliente"
            [(ngModel)]="this.useService.nuevoContacto['tipCliente']" type="number" class="input1"></ion-input>
        </p>
        <br>
        <p class="p2">Equipos y Herramientas:<ion-input [(ngModel)]="useService.tipCliente"
            [(ngModel)]="this.useService.nuevoContacto['tipCliente']" type="number" class="input1"></ion-input>
        </p>-->
      </div>
      <div class="botones">
        <ion-button class="btn1" (click)="modificarPost()">Modificar</ion-button>
        <ion-button class="btn2">Cancelar</ion-button>
      </div>
      <br>
      <ion-item>
        <h3 class="tiTog">Post Costrucción</h3>
      </ion-item>
        <br>
        <div>
          <p class="p2">Costo:$<ion-input [(ngModel)]="useService.costo1" type="text" class="input1" id="input1"></ion-input>
          </p>
          <br>
          <p class="p2">Mescla Lt:<ion-input [(ngModel)]="useService.mescla1" type="number" class="input1"></ion-input>
          </p>
          <br>
          <p class="p2">Rendimiento x Lt:<ion-input [(ngModel)]="useService.rendimiento1" type="number" class="input1"></ion-input>
          </p>
          <br>
        </div>
      <!--<ion-button class="btn1" (click)="useService.putEmpresa(this.useService.nuevoContacto['_id'])">Guardar</ion-button>-->
      <div class="botones">
        <ion-button class="btn1" (click)="modificarPre()">Modificar</ion-button>
        <ion-button class="btn2">Cancelar</ion-button>
      </div>
    </div>
  </div>
 
</ion-content>