<br>
<div id="div1">
  <!-- <h1 class="title">CALCULO PERIMETRAL</h1> -->
  <h3 class="title">Termita Subterranea</h3>
  <!-- <h3 class="term">Termita Subterranea</h3> -->
  <br>

  <div (click)="userService.edtnombre(true, id)">
    <h2 class="nameCal"><b>Nombre:</b> {{userService.nameCal}}</h2>
    <h3 class="nameCal"><b>Calle:</b> {{userService.datos.calle}} &nbsp; #{{ userService.datos.nuDom }}</h3>
    <h4 class="nameCal"><b>Colonia:</b> {{ userService.datos.colonia }}</h4>
  </div>

  <br>

  <ion-item color="medium" style="border-radius: 0px 0 15px 0px; padding-top: 10px;" *ngIf="userService.nAr == true"
    (click)="nArea()">
    <ion-label>Sin registro</ion-label>
    <ion-icon name="add-circle"></ion-icon>
    <!-- <ion-label><ion-button slot="end">Nuevo Registro </ion-button></ion-label> -->
  </ion-item>
  <div *ngIf="userService.nAr1 == true">
    <ion-item class="title1" style="--border-style: none;">
      <ion-button fill="clear" slot="end" style="color: red; " (click)="nArea()">Cancelar</ion-button>
    </ion-item>
    <ion-item class="title1">
      <ion-input type="string" placeholder="Nombra el Area(Sala)" [(ngModel)]="selList"
        class="form-control"></ion-input>
    </ion-item>
    <ion-item class="title1">
      <ion-input type="number" placeholder="Medida: 8 M" [(ngModel)]="ladox" class="form-control"></ion-input>
      <ion-button (click)="edtnombre(true)" expand="block" slot="end"><ion-icon
          name="calculator"></ion-icon></ion-button>
    </ion-item>



    <ion-item class="esp">
      <h3 *ngIf="toggle == false" class="item" (click)="tog()"><strong> Post Costrucción </strong></h3>
      <h3 *ngIf="toggle == true" (click)="tog()" class="item"><strong>Pre Construcción</strong></h3>
      <ion-toggle class="togl" [(ngModel)]="toggle"></ion-toggle>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="sumLado()">
      Cotizar
    </ion-button>
  </div>

  <!--Item para ver si cambian datos-->
  <div *ngFor="let ladosAux of sumLados2; let i = index">
    <ion-item class="title1" style="--border-style: none;">
      <ion-button fill="clear" slot="end" style="color: red; " (click)="eliminarLado1(i)">Cancelar</ion-button>
    </ion-item>
    <ion-item class="title1">
      <!-- <ion-input [(ngModel)]="ladosAux[i]" [disabled]="selectedIndex !== i" type="number"></ion-input> -->

      <ion-input value="{{ ladosAux }}" [disabled]="selectedIndex !== i" type="number"
        (change)="valor($event.target.value)"></ion-input>
      <ion-button color="medium" slot="end" (click)="modificarLado2(i)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary" slot="end" (click)="modLado1(i, sumLados2[i])">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>

    </ion-item>
  </div>

  <br>

  <div *ngFor="let sumListAux of userService.sumList; let i = index">
    <table style="
      width: 94%;
      border-collapse: collapse;
      margin: 0% 3% 4% 3%;
      background: rgba(198, 199, 204, 0.3607843137);"
      class="striped-table">
      <tr>
        <th style="border-radius: 3px 0 0 3px;">Areas</th>
        <th>Dim</th>
        <th>Tipo</th>
        <th *ngIf="sumListAux.resultado">perF</th>
        <th>Cost</th>
        <th style="border-radius: 0 3px 3px 0;"></th>
      </tr>
      <tr>
        <td style="color: #197fff;">{{sumListAux.numCuar}}</td>
        <td (click)="modificarLado1(i)" *ngIf="sumListAux.mLineal != 0">{{sumListAux.mLineal}} M</td>
        <td (click)="modificarLado1(i)" *ngIf="sumListAux.tog==true">{{sumListAux.mCu}} M²</td>
        <td>{{sumListAux.u}}</td>
        <td *ngIf="sumListAux.resultado">{{sumListAux.resultado}}</td>
        <td>{{sumListAux.result1| currency: 'USD' | lowercase}}</td>
        <td>

          <ion-button color="danger" size="small" (click)="eliminarContact(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </table>
  </div>


  <div *ngIf="userService.p!=0" style="padding: 0 3% 0px;">
    <label><b>Sub total: </b>{{userService.p| currency: 'USD' | lowercase}}</label>
    <br>
    <label><b>16% (IVA): </b> {{((userService.p*.16)+userService.p)| currency: 'USD' | lowercase}}</label>
    <br>
    <label><b>Total: </b> {{((userService.p*.16)+userService.p)| currency: 'USD' | lowercase}}</label>

  </div>
</div>
  <br>
  <ion-item style="--border-style: none !important;" *ngIf="userService.sumList.length != 0">
    <p (click)="otA()"> <ion-icon name="add-circle"></ion-icon> &nbsp;&nbsp;<a>Agregar otra area!</a></p>
    &nbsp;&nbsp;&nbsp;
    <p (click)="moDato()" *ngIf="userService.safData==true"><ion-icon
        name="git-compare"></ion-icon>&nbsp;&nbsp;<a>Rescribir datos</a></p>
  </ion-item>
  <br>
  <ion-button class="btnPrin12" *ngIf="userService.sumList.length != 0" color="medium" (click)="pdf()">
    Descargar PDF
  </ion-button>
  <!--button for save all  areas in  data base -->
  <ion-button class="btnPrin" *ngIf="userService.sumList.length != 0 && userService.agregar == false"
    (click)="presentAlert()">Guardar Areas&nbsp;&nbsp;<ion-icon name="download-outline"></ion-icon>
  </ion-button>

  <ion-modal id="isModalOpen1" [isOpen]="isModalOpen" class="modal1">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="edtnombre(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <div class="calc-main">

          <div class="calc-display">
            <ion-input type="text" class="ion-text-end" [readonly]="true">{{ display }}</ion-input>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button shape="round" color="light" (click)="click('ac')">AC</ion-button>
              </ion-col>
              <ion-col>
                <!-- <ion-button shape="round" color="light" (click)="click('c')">C</ion-button> -->
              </ion-col>
              <ion-col>
                <ion-button shape="round" color="light" (click)="addpercent(false)"><ion-icon
                    name="download"></ion-icon></ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" color="warning" (click)="click(':')">÷</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('7')">7</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('8')">8</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('9')">9</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" color="warning" (click)="click('X')">X</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('4')">4</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('5')">5</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('6')">6</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" color="warning" (click)="click('-')">-</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('1')">1</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('2')">2</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click('3')">3</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" color="warning" (click)="click('+')">+</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button shape="round" (click)="click('0')" class="double-width">0</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" style="--background: rgb(131 131 131 / 79%);"
                  (click)="click(',')">.</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" color="warning" (click)="click('=')">=</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Este es el modal para corregir datos de usuario -->
  <ion-modal id="isModalOpen" [isOpen]="userService.isModalOpen">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Modificación de datos</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="userService.cerrarMo(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <br>
          <ion-item>
            <ion-checkbox style="--margin: 8px 27px px 4px 1px; --size: 21px;" slot="start" [(ngModel)]="check"
              (click)="chek()"></ion-checkbox>
            <ion-label>¡Eliminar cliente!</ion-label>
          </ion-item>
          <ion-item>
            Nombre:&nbsp;
            <ion-input type="text" [(ngModel)]="userService.nameCal"></ion-input>
          </ion-item>
          <ion-item>
            calle:&nbsp;
            <ion-input type="text" [(ngModel)]="userService.datos.calle"></ion-input>
          </ion-item>
          <ion-item>
            Colonia:&nbsp;
            <ion-input type="text" [(ngModel)]="userService.datos.colonia"></ion-input>
          </ion-item>
          <ion-item>
            N° Domicilio:&nbsp;
            <ion-input type="text" [(ngModel)]="userService.datos.nuDom"></ion-input>
          </ion-item>

          <ion-item *ngIf="iuDum">
            N° Domicilio Ext:&nbsp;
            <ion-input type="text" [(ngModel)]="userService.datos.iuDum"></ion-input>
          </ion-item>
          <ion-item *ngIf="codPos">
            Codigo postal:
            <ion-input type="text" [(ngModel)]="userService.datos.codPos"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button *ngIf="check == false" expand="block" (click)="putValor(false,id,'top')">
          Guardar Cambios
        </ion-button>
        <ion-button *ngIf="check == true" expand="block" color="danger" (click)="elCli(false)">Eliminar<ion-icon
            name="trash-outline"></ion-icon></ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modal trigger="open-modal1" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>You will be prompted when closing this modal.</p>
      </ion-content>
    </ng-template>
  </ion-modal>
