ion-toolbar {
  --background: rgb(6, 6, 114);
  color: white;
  font-family: system-ui;
}

.imLog {
  padding: 0 0 0 8.9em;
}

.imLog1 {
  padding: 0 0 0 5.7em;
}

.imLog2 {
  padding: 0 0 0 5.3em;
}

.imLog3 {
  padding: 0 0 0 5.7em;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}
.card{
 // width: 44%;
 height: 6em;
}
.iLo{
  width: 2.5em;
  height: 2em;
}
.p1{
  color: rgba(121, 116, 116, 0.897);
}